services:
  mysql:
    image: mysql:8.0
    container_name: mysql-dev
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: portfolio_app_dev
      MYSQL_USER: portfolio_user
      MYSQL_PASSWORD: portfolio_dev_pass
    ports:
      - "3307:3306"
    volumes:
      - mysql_dev_data:/var/lib/mysql
    networks:
      - local-docker-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: backend
    ports:
      - "8000:6000"
    env_file:
      - backend/.env.development
    environment:
      - API_DOMAIN=http://localhost:8000
      - MAIL_SUPPRESS_SEND=False
      - FRONTEND_URL=http://localhost:5173
    networks:
      - local-docker-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./backend:/app
    depends_on:
      mysql:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
      args:
        BUILDKIT_INLINE_CACHE: 1
    container_name: frontend
    ports:
      - "5173:3000"
    networks:
      - local-docker-network
    volumes:
      - ./frontend:/app
      - /app/node_modules

  proxy-manager:
    container_name: proxy-manager
    image: jc21/nginx-proxy-manager:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    volumes:
      - proxy_data:/data
      - proxy_letsencrypt:/etc/letsencrypt
    networks:
      - local-docker-network
    depends_on:
      - backend
      - frontend
      
networks:
  local-docker-network:
    name: local-docker-network
    driver: bridge

volumes:
  mysql_dev_data:
    name: mysql-dev-data
  proxy_data:
    name: proxy-data
  proxy_letsencrypt:
    name: proxy-letsencrypt