@layer base {
  :root {
    /* Tema Claro */
    --color-primary: #4f46e5;
    --color-secondary: #ec4899;
    --color-neutral-100: #f8fafc;
    --color-neutral-300: #cbd5e1;
    --color-neutral-700: #334155;
    --color-neutral-900: #0f172a;
    --color-success: #10b981;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
  }

  /* Tema Oscuro */
  .dark {
    --color-primary: #818cf8;
    --color-secondary: #f472b6;
    --color-neutral-100: #1e293b;
    --color-neutral-300: #475569;
    --color-neutral-700: #e2e8f0;
    --color-neutral-900: #f8fafc;
    --color-success: #34d399;
    --color-warning: #fbbf24;
    --color-danger: #f87171;
  }

  /* Transiciones suaves para el cambio de tema */
  html {
    transition: background-color 0.3s, color 0.3s;
  }
}
